django>=3.2,<3.3
django-admin-interface
django-admin-sortable2
django-autocomplete-light
django-bootstrap4
django-constance[database]
django-csp
django-fontawesome-5
django-vinaigrette
legacy-cgi
martor
pillow
requests
