<!DOCTYPE html>
{% load i18n %}
{% load bootstrap4 %}
{% load fontawesome_5 %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% filter capfirst %}{% trans 'recipes' %}{% endfilter %}</title>
    <link href="/static/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/static/greatvibes.css" rel="stylesheet">
    {% fontawesome_5_static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1 class="display-1 px-5 pt-4 pb-2 mx-5 mb-2 mt-4"
              style="font-family:'Great Vibes'">
            {% filter capfirst %}{% trans 'recipes' %}{% endfilter %}
            </h1>
        </div>
      </div>
      <div class="row text-center pb-3 mb-3 border-bottom">
        <div class="col">
          <h4>
            <a href="{% url 'index' %}"
               class="text-body" style="font-family:serif">
            {% if page == 'index' %}
              {# Translators: index of recipes #}
              <b>{% trans 'index' %}</b>
            {% else %}
              {% trans 'index' %}
            {% endif %}
            </a>
          </h4>
        </div>
        <div class="col">
          <h4>
            <a href="{% url 'cart' %}"
               class="text-body" style="font-family:serif">
            {% if page == 'cart' %}
              <b>{% trans 'shopping list' %}</b>
            {% else %}
              {% trans 'shopping list' %}
            {% endif %}
            </a>
          </h4>
        </div>
        <div class="col">
          <h4>
            <a href="{% url 'admin:index' %}"
               class="text-body" style="font-family:serif">
              {# Translators: link to administration part of the website #}
              {% trans 'admin' %}
            </a>
          </h4>
        </div>
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
