{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block content %}
      <div class="row pt-4 justify-content-end">
        <div class="col col-4 text-right">
          <h3>
            {% filter capfirst %}{% trans 'ingredients' %}{% endfilter %}
          </h3>
          <form action="{% url 'cart' %}"
                method="POST"
                onsubmit="$('#spinner').removeClass('invisible');
                          $('#submitBtn').prop('disabled', true);">
            {% csrf_token %}
            <input type="hidden" name="action" value="OurGroceries">
            {% for iu, total in ingredient_units %}
              <div class="form-group form-check">
                <label class="form-check-label mr-4"
                       for="ingredient_unit_{{ iu.pk }}">
                  {{ iu.name }}
                  {% if total %}
                  ({{ total }} {{ iu.unit }})
                  {% endif %}
                </label>
                <input type="checkbox"
                       class="form-check-input"
                       name="ingredient_unit"
                       value="{{ iu.pk }}"
                       id="ingredient_unit_{{ iu.pk }}">
              </div>
            {% endfor %}
            {% if ingredient_units %}
            <button type="submit" class="btn btn-outline-dark" id="submitBtn">
              <i id="spinner" class="fas fa-spinner invisible"></i>
              {% trans 'add to OurGroceries' %}
              &nbsp;&nbsp;&nbsp;
            </button>
            {% endif %}
            {% if message %}
            <p class="pt-3 text-body font-weight-bold">{{ message }}</p>
            {% endif %}
            {% if error %}
            <p class="pt-3 text-danger font-weight-bold">{{ error }}</p>
            {% if traceback %}
            <pre class="text-danger">{{ traceback }}</pre>
            {% endif %}
            {% endif %}
          </form>
          <div class="modal fade" id="editQty" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <form action="{% url 'cart' %}" method="POST" novalidate>
                <input type="hidden" name="action" value="edit">
                {% csrf_token %}
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editQtyLabel">
                      {% trans 'Edit quantity' %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                      <span>&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input type="hidden" id="pk" name="pk">
                    <input class="form-control"
                           type="number"
                           step="0.5"
                           min="0"
                           id="qty"
                           name="qty"
                           required>
                  </div>
                  <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                      {% trans 'Cancel' %}
                    </button>
                    <button type="submit"
                            class="btn btn-primary">
                      {% trans 'Save' %}
                    </button>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col col-8">
          <h3>{% filter capfirst %}{% trans 'recipes' %}{% endfilter %}</h3>
          <ul class="list-unstyled">
            {% for recipe, qty in recipes %}
              <li>
                <form action="{% url 'cart' %}"
                      method="POST"
                      name="del_{{ recipe.pk }}">
                  {{ qty }} {{ recipe.title }}
                  <a href="#"
                     onclick="$('#pk').val('{{ recipe.pk }}');
                              $('#qty').val({{ qty | unlocalize }});
                              $('#editQty').modal();
                              event.preventDefault();">
                      <i class="far fa-edit text-body"></i>
                    </a>

                  <input type="hidden" name="action" value="edit">
                  <input type="hidden" name="pk" value="{{ recipe.pk }}">
                  <input type="hidden" name="qty" value=0>
                  {% csrf_token %}
                  <a href="javascript:;"
                     onclick="document.forms['del_{{ recipe.pk }}'].submit();">
                    <i class="far fa-trash-alt text-body"></i>
                  </a>
                </form>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
{% endblock %}
