{% extends "base.html" %}
{% load i18n %}

{% block content %}
      <div class="row pt-4">
        <div class="col col-4 text-right">
          <h4>
            {% if not selected_tag %}
            <b>{% trans 'all' %}</b>
            {% else %}
            <a href="{% url 'index' %}" class="text-body">{% trans 'all' %}</a>
            {% endif %}
          </h4>
          <h4>&nbsp;</h4>
          {% for tag in tags%}
          {% if tag.recipe_set.all %}
          <h4>
            {% if tag == selected_tag %}
            <b>{{ tag.name }}</b>
            {% else %}
            <a href="{{ tag.get_absolute_url }}" class="text-body">
              {{ tag.name }}
            </a>
            {% endif %}
          </h4>
          {% endif %}
          {% if tag.break_after %}<h4>&nbsp;</h4>{% endif %}
          {% endfor %}
        </div>
        <div class="col col-8">
          <h4>
            sort by
            {% if order == '-popularity' %}
            <b>{% trans 'popularity' %}</b>
            {% else %}
            <a href="?order=-popularity" class="text-body">
              {% trans 'popularity' %}
            </a>
            {% endif %}
            -
            {% if order == 'title' %}
            <b>{% trans 'title' %}</b>
            {% else %}
            <a href="?order=title" class="text-body">
              {% trans 'title' %}
            </a>
            {% endif %}
          </h4>
          <h4>&nbsp;</h4>
          {% for recipe in recipes %}
          <h4>
            <a href="{{ recipe.get_absolute_url }}" class="text-body">
              {{ recipe.title }}
            </a>
            <a href="#"
               onclick="$.get('{{ recipe.get_add_to_cart_url }}' + '1');
                        event.preventDefault();">
              <i class="fas fa-cart-plus text-body"></i>
            </a>
          </h4>
          {% endfor %}
        </div>
      </div>
{% endblock %}
