{% extends "base.html" %}
{% load i18n %}
{% load menu %}

{% block content %}
      <div class="row pt-4">
        <div class="col col-4 text-right">
        </div>
        <div class="col col-8">
          <form action="{% url 'menu' %}" method="POST">
            {% csrf_token %}
            {% if error %}
            <span class="text-danger font-weight-bold">
              {{ error }}<br><br>
            </span>
            {% endif %}
            <div class="row">
              <div class="col">
                <h3>
                  {% filter capfirst %}{% trans 'dishes' %}{% endfilter %}
                </h3>
              </div>
              <div class="col text-right">
                <button type="submit" class="btn btn-outline-dark">
                  {% trans 'save' %}
                </button>
              </div>
            </div>
            <input type="hidden"
                   name="last_change_id_dishes"
                   value="{{ dishes.last_change_id }}">
            <textarea id="dishes"
                      name="dishes"
                      rows="10"
                      cols="100"
                      class="form-control">{{ dishes.dishes }}</textarea>

            <br><br>
            <div class="row">
              <div class="col">
                <h3>
                  {% filter capfirst %}{% trans 'menu' %}{% endfilter %}
                </h3>
              </div>
              <div class="col text-right">
                <button type="submit" class="btn btn-outline-dark">
                  {% trans 'save' %}
                </button>
              </div>
            </div>
            <input type="hidden" name="pk" value="{{ menu.pk }}">
            <input type="hidden"
                   name="last_change_id"
                   value="{{ menu.last_change_id }}">

            {% for day in days %}
            <div class="{% if day == day_of_week %} border border-dark{% endif %}">
              <div class="row m-2">
                <h5>{% trans day %}</h5>
              </div>
              <div class="row">
                {% for meal in meals %}
                <div class="col mt-2 mb-2{% if forloop.first %} ml-2{% endif %}{% if forloop.last %} mr-2{% endif %}">
                  <h6>{% trans meal %}</h6>
                  <input type="text"
                         class="form-control mb-1"
                         name="{{ day|lower }}_{{ meal }}_dishes"
                         value="{% get_menu_field menu day|lower meal 'dishes' %}"
                         id="id_{{ day|lower }}_{{ meal }}_dishes"
                         placeholder="{% trans 'dishes' %}">
                  <input type="text"
                         class="form-control"
                         name="{{ day|lower }}_{{ meal }}_note"
                         value="{% get_menu_field menu day|lower meal 'note' %}"
                         id="id_{{ day|lower }}_{{ meal }}_note"
                         placeholder="{% trans 'note' %}">
                </div>
                {% endfor %}
              </div>
            </div>
            <br>
            {% endfor %}

            <div class="row">
              <div class="col text-right">
                <button type="submit" class="btn btn-outline-dark">
                  {% trans 'save' %}
                </button>
              </div>
            </div>
            <br><br>
          </form>
        </div>
      </div>
{% endblock %}
