{% extends "base.html" %}
{% load i18n %}
{% load markdownify %}

{% block content %}
      <div class="row pt-4 justify-content-end">
        <div class="col col-8">
          <h1>
            {{ recipe.title }}
            <a href="{% url 'cart' %}"
               onclick="$.get('{{ recipe.get_add_to_cart_url }}')">
              <i class="fas fa-cart-plus text-body"></i>
            </a>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col col-4 text-right">
          <h3 class="pt-3">
            {% filter capfirst %}{% trans 'ingredients' %}{% endfilter %}
          </h3>
          <ul class="list-unstyled">
          {% for ingredient_in_recipe in ingredients %}
            <li>
              {% if ingredient_in_recipe.ingredient.name %}
              {{ ingredient_in_recipe }}
              {% else %}
              &nbsp;
              {% endif %}
            </li>
          {% endfor %}
          </ul>
          <h3 class="pt-3">
            {% filter capfirst %}{% trans 'tags' %}{% endfilter %}
          </h3>
          <ul class="list-unstyled">
          {% for tag in recipe.tags.all %}
            <li>
              <a href="{{ tag.get_absolute_url }}" class="text-body">
                {{ tag.name }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="col col-8">
          <h3 class="pt-3">
            {% filter capfirst %}{% trans 'recipe' %}{% endfilter %}
          </h3>
          {{ recipe.recipe | markdownify }}
        </div>
      </div>
{% endblock %}
