{% extends "base.html" %}
{% load i18n %}
{% load martortags %}

{% block content %}
      <div class="row pt-4 justify-content-end">
        <div class="col col-12 col-md-4">
          <div class="form-group row text-md-right">
            <label class="col-3 col-md-9 col-form-label">Quantity:</label>
            <div class="col-3">
              <input class="form-control"
                     value="{{ qty }}"
                     type="number"
                     step="0.5"
                     min="0"
                     onchange="changeQty($(this).val());">
            </div>
            <div class="col-6"></div>
          </div>
        </div>
        <div class="col col-12 col-md-8">
          <h3>
            {{ recipe.title }}
            <a href="#"
               onclick="$.get(
                          '{{ recipe.get_add_to_cart_url }}' + '{{ qty }}',
                          function (data) {
                            location.href = '{% url 'cart' %}';
                          }
                        );
                        return false;">
              <i class="fas fa-cart-plus text-body"></i>
            </a>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-12 col-md-4 text-md-right">
          <h4 class="pt-3">
            {% filter capfirst %}{% trans 'ingredients' %}{% endfilter %}
          </h4>
          <ul class="list-unstyled">
          {% for ingredient_in_recipe in ingredient_units %}
            <li>
              {% if ingredient_in_recipe.ingredient_unit.ingredient.name %}
              {{ ingredient_in_recipe }}
              {% else %}
              &nbsp;
              {% endif %}
            </li>
          {% endfor %}
          </ul>
          <h4 class="pt-3">
            {% filter capfirst %}{% trans 'tags' %}{% endfilter %}
          </h4>
          <ul class="list-unstyled">
          {% for tag in recipe.tags.all %}
            <li>
              <a href="{{ tag.get_absolute_url }}" class="text-body">
                {{ tag.name }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="col col-12 col-md-8">
          <h4 class="pt-3">
            {% filter capfirst %}{% trans 'recipe' %}{% endfilter %}
          </h4>
          {{ recipe_qty | safe_markdown }}
        </div>
      </div>
      <script>
        function changeQty(qty) {
            window.location.href = '{% url 'recipe' recipe.pk %}' + qty;
        }
      </script>
{% endblock %}
